header{
    text-align: center;
    color: saddlebrown;
    padding: 15px;
}
main{
    margin: 0 auto;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 5%;
    text-align: center;
}

    h1 {
        font-size: 50px;
        margin: 5px;
        font-weight: 700px; 
    } 
    img{
        
        width: 100%;
    }
    div{
       
        /* float: left; */
        width: 20%;
        overflow: hidden;
        margin: 3%;
        color:floralwhite;

    }   
    .all-template{
         display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    a{
        text-decoration: none;
        font-size: 20px;
        color: rgb(31, 189, 189);
    }
    li {
        list-style: none;
        display: inline-block;
        margin: 20px ;

    }
#title ,#num{
    font-size: 20px;
        color: rgb(31, 189, 189);
        margin: 20px ;

}